@model cs470project.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Project Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="header"></h2>
<br />
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#home">Details</a></li>
    <li><a data-toggle="tab" href="#uploadMenu">Upload</a></li>
    <li><a data-toggle="tab" href="#downloadMenu">Download</a></li>
    <li><a data-toggle="tab" href="#usersMenu">IAM</a></li>
</ul>

<div class="tab-content">
    <div class="form-group">
        <input id="projectID" name="projectID" type="hidden" value=@Model.ProjectId>
    </div>
    <br />
    <div id="home" class="tab-pane fade in active">
        <h4>Project Description</h4>
        <p id="description"></p>
        <h4>Date Added</h4>
        <p id="insertDate"></p>
        <p>
            @Html.ActionLink("Edit Project", "EditProject", "Dashboard", new { id = Model.ProjectId }, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div id="uploadMenu" class="tab-pane fade">
        @Html.Partial("~/Views/Dashboard/ProjectDashboardPartials/_Upload.cshtml", Model)
    </div>
    <div id="downloadMenu" class="tab-pane fade">
        @Html.Partial("~/Views/Dashboard/ProjectDashboardPartials/_Download.cshtml", Model)
    </div>
    <div id="usersMenu" class="tab-pane fade">
        <h4>User Permissions</h4>
        <table id="researchProjectUsers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Access Type</th>
                    <th>Remove?</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/ProjectDashboard")
}