@model cs470project.ViewModels.DashboardViewModel
<h4>User Permissions</h4>
<table id="researchProjectUsers" class="table table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Username</th>
            <th>Access Type</th>
            <th>Remove User?</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>