<h4>Upload Accession Numbers</h4>
<form id="uploadForm" class="form-inline" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="hasHeader">Does this file have a header?</label>
        <br />
        <div class="radio-inline">
            <input type="radio" name="hasHeader" value="yes" checked>Yes
        </div>
        <div class="radio-inline">
            <input type="radio" name="hasHeader" value="no">No
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="input-group">
            <input id="fileName" type="text" class="form-control" readonly>
            <label class="input-group-btn">
                <span class="btn btn-default">
                    Browse<input type="file" id="fileInput" name="fileInput" accept=".csv, .xls, .xlsx" style="display: none;">
                </span>
            </label>
        </div> &nbsp;
        <button id="submitUpload" class="btn btn-primary" type="submit">Upload</button>
        &nbsp;<i id="uploadSpinner" class="fa fa-spinner fa-spin" style="font-size:0px"></i>
    </div>
</form>
<br />
<h6 id="uploadedMessage"></h6>
<table id="rejectedAccessions" class="table table-bordered table-hover" style="width:100%;" hidden>
    <thead>
        <tr>
            <th>Accession Numbers</th>
            <th>Reason for Rejection</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>